# Supabase configuration
VITE_SUPABASE_URL=https://jprsfmdbwsfikmosvtqn.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_zAzqxaJnXhzUq0AR2pZreg_WByssGvk

# Razorpay configuration
VITE_RAZORPAY_KEY_ID=rzp_test_TeOLUmZLa2Voh9